.customerSaying {
    background-image: url(../styles/images/customerBackground.png);
    width: 50%;
    padding: 40px 80px;
    h2 {
        font-size: 36px;
        color: #1a1a26;
        text-align: center;
        font-weight: normal;
        margin-bottom: 15px;
    }
    .pinkQuotes {
        width: 100%;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    p {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
        font-style: italic;
        color: #1a1a26;
    }
    .signature {
        font-style: normal;
        color: #888890;
        text-transform: uppercase;
    }
    .dotContainer {
        display: flex;
        width: 50%;
        margin: 0 auto;
        justify-content: space-around;
        padding: 20px 0;
        img {
            width: 10%;
            .big {
                width: 100%;
            }
        }
    }
}

.fullBleed {
    width: 100%;
    display: flex;
}

.video {
    background-image: url(../styles/images/flowerBackground.jpg);
    width: 50%;   
    background-repeat: no-repeat; 
}