header {
    background-image: url(../styles/images/hero.jpg);
    position: relative;
    background-repeat: no-repeat;
}

.mainNav {
    background-color: #fff;
    width: 100%;
    margin: 20px 0;
    ul {
        padding-left: 0;
    }
        li {
            list-style: none;
            display: inline-block;
            text-transform: uppercase;
            :hover {
                color: #888890;
            }
            a {
                text-decoration: none;
                padding: 0 10px;
                color: #1a1a26;
                font-size: 14px;
            }
        }
}

.scroll {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
    color: #1d1d29;
    margin-bottom: 5px;
    .fa {
        margin: 0 5px;
        &:hover {
            color: #888890;
            transform: scale(1.5);
        }
    }
}

.mainNavItem {
    width: 40%;
}

.mainRight {
    display: flex;
    justify-content: flex-end;
}

.notification {
    position: absolute;
    top: 0;
    right: 10px;
    img {
        max-width: 70%;
    }
}

.iconsRight li {
    position: relative;
}

.mainLeft {
    display: flex;
    flex-wrap: wrap;
}

.flexHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    padding: 212px 0;
    padding-bottom: 90px; 
}

.mainNav .fa {
    padding: 0 10px;
    font-size: 14px;
}

header h3 {
    color: #888890;
    font-size: 32px;
    line-height: 60px;
    font-weight: normal;
    text-align: center;
}

header h1 {
    color: #1d1d29;
    font-size: 60px;
    text-align: center;
}

header button {
    background-color: #f07f84;
    border: none;
    padding: 5px 30px;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #e4565d;
    box-shadow: 3px 3px darkgray;
    
}

.arrowLeft {
    position: absolute;
    left: 20px;
    top: 50%;
}

.arrowRight {
    position: absolute;
    right: 20px;
    top: 50%;
}
