.interiorPlants {
    padding: 40px 0;
    position: relative;
    h5 {
        font-size: 18px;
        color: #a8edea;
        text-align: center;
        margin-bottom: 5px;
        padding-top: 15px;
    }
    h2 {
        text-align: center;
        color: #1e1e2a;
        font-size: 36px;
        margin-top: 5px;
    }
    p {
        text-align: center;
        font-size: 14px;
        color: #888890;
        width: 50%;
        margin: 0 auto;
        line-height: 24px;
    }
    .signature {
    padding: 20px 0;
    span {
        font-size: 16px;
        font-style: bold;
        color: #1e1e2a;
    }
}
}

.galleryContainer {
    display: flex;
    justify-content: space-between;
}

.tripleContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.plantContainer {
    display: flex;
    justify-content: space-between;
    img {
        width: 100%;
    }
}

.imageContainer {
    width: 48%;
    position: relative;
}

.imageContainer2 {
    width: 100%;
    position: relative;
}

.cactusContainer {
    margin-right: 30px;
    position: relative;
}

.picInfo {
    text-align: center;
    h4 {
        margin: 0;
        color: #1a1a26;
        font-size: 15px;
        font-weight: normal;
    }
    p {
        margin: 0;
        color: #888890;
        font-size: 13px;
    }
}

.airPlants {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px 20px;
    h4:hover {
        color: darken(#a8edea, 38);
    }
}

.widePots {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px 20px;
    h4:hover {
        color: darken(#a8edea, 38);
    }
}

.officePlants, .housePlants {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px 20px;
    h4:hover {
        color: darken(#a8edea, 38);
    }
}

.plantsBackground {
    background-image: url(../styles/images/h2background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}