@import "components/header";
@import "components/footer";
@import "components/interiorPlants";
@import "components/popularProducts";
@import "components/customer";
@import "components/blog";
@import "components/_newsletter";

@media (max-width: 554px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .blogItem {
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    .brands {
        flex-direction: column;
        align-content: center;
        .brandsItem img.lastBrand {
            min-width: 137px;
            margin-top: 20px;
        }
    }
}

@media (max-width: 705px) {
    .mainLeft {
        flex-direction: column;
    }
    .flexHeader {
        flex-direction: column;
    }
    .mainRight {
        justify-content: center;
    }
}

@media (max-width: 845px) {
    .galleryContainer {
        flex-direction: column;
        justify-content: space-between;
        .imageContainer {
            width: 49%;
        }
    }
    .cactusContainer {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .title h1 {
        font-size: 28px;
    }
    .title h3 {
        font-size: 24px;
    }
}

@media (max-width: 941px) {
    .mainLeft {
        display: none;
    }
    .brands {
        flex-direction: column;
        display: none;
    }
}

@media (max-width: 989px) {
    .fullBleed {
        display: flex;
        flex-direction: column;
    }
    .video {
        width: 100%;
    }
    .customerSaying {
        width: 100%;
    }
}

@media (max-width: 1030px) {
    .productsGallery {
        flex-direction: row;
        .galleryItem {
            width: 30%;
        }
        .lastGalleryItem {
            display: none;
        }
    }
    .postFooter {
        flex-direction: column;
        align-items: center;
        width: 100%;
        .tradeMark p {
            margin-top: 0;
        }
        .trademarkItem p {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 1223px) {
    .galleryItem {
        figcaption {
            font-size: 10px;
        }
        .price {
            font-size: 10px;
        }
    }
}

@media (max-width: 611px) {
    .productsGallery {
        flex-direction: row;
        align-content: center;
        .galleryItem {
            width: 47%;
        }
        .lastGalleryItem {
            display: initial;
        }
    }
    .products {
        li {
            margin: 0 8px; 
            a {
            font-size: 14px;
        } 
    }
}
}

@media (max-width: 1378px) {
    .footerContainer {
        flex-direction: row;
        flex-wrap: wrap;
        .overInfo {
            width: 30%;
            padding-bottom: 10px;
        }
        .services, .account, .instagram {
            width: 20%;
            h4 {
                font-size: 19px;
            }
        }
        .footerAwesome {
            display: flex;
        }
}
}

@media (max-width: 1055px) {
    .flexContainer {
        width: 100%;
        .overInfo, .services, .account, .instagram {
            width: 45%;
        }
    }
}

@media (max-width: 795px) {
    .footerContainer {
        flex-direction: column;
        align-content: center;
        align-items: center;
        .overInfo, .services, .account {
            width: 100%;
            text-align: center;
            h4 {
                font-size: 18px;
                display: block;
                margin: 0 auto;
                width: 50%;
            }
            .titleUnderline {
                margin: 0 auto;
            }
        }
        .instagram {
            display: none;
        }
        .footerAwesome {
            justify-content: center;
        }
    }
    .customerSaying h2 {
        font-size: 28px;
    }
}

