.products {
    padding: 60px 0;
    h2 {
        font-size: 36px;
        color: #1a1a26;
        text-align: center;
    }
        .popularProducts {
            padding-left: 0;
            display: flex;
            justify-content: center;
        }
            li {
                list-style: none;
                margin: 0 35px;
                margin-bottom: 20px;
                :hover, :focus {
                        border-bottom: 2px solid #1a1a26;
                        color: #888890;
                    }
            }
                a {
                    text-decoration: none;
                    font-size: 18px;
                    color: #1a1a26;
                }
}

.productsGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .galleryItem {
        width: 18%;
        }
        img {
            width: 100%;
        }   
        figcaption {
            font-size: 12px;
            text-align: center;
            margin-top: 10px;
        }
        .price {
            text-align: center;
            padding-bottom: 20px;
            margin-bottom: 10px;
            span {
                margin-left: 20px;
                color: #888890;
                text-decoration: line-through;
            }
        }
}

.galleryItem img {
    position: relative;
}

.overlay {
    position: absolute;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    a {
        padding: 10px 15px;
        background-color: #fff;
    }
        a {
            font-size: 14px;
            color: #888890;
            text-align: center;
            vertical-align: center;
            text-transform: uppercase;
            padding: 5px 10px;
            background-color: #fff;
        }

}

figure.galleryItem:hover .overlay {
    visibility: visible;
    opacity: 1;
}

.overlayImage {
    position: relative;
    a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }
}

img.hot {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15%;
}

img.new {
    position: absolute;
    width: 15%;
    top: 25px;
    right: 5px;
}

img.new2 {
    position: absolute;
    width: 15%;
    top: 5px;
    right: 5px;
}

img.sale {
    position: absolute;
    width: 15%;
    top: 5px;
    right: 5px;
}

