.products {
    padding: 60px 0;
    h2 {
        font-size: 36px;
        color: #1a1a26;
        text-align: center;
    }
        .popularProducts {
            padding-left: 0;
            display: flex;
            justify-content: center;
        }
            li {
                list-style: none;
                margin: 0 35px;
                margin-bottom: 20px;
                :hover, :focus {
                        border-bottom: 2px solid #1a1a26;
                        color: #888890;
                    }
            }
                a {
                    text-decoration: none;
                    font-size: 18px;
                    color: #1a1a26;
                }
}

.productsGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .galleryItem {
        width: 18%;
    }
        img {
            width: 100%;
        }   
        figcaption {
            font-size: 12px;
            text-align: center;
        }
        .price {
            text-align: center;
            padding-bottom: 20px;
            margin: 10px;
            span {
                margin-left: 20px;
                color: #888890;
                text-decoration: line-through;
            }
        }
}