header {
  background-image: url(../styles/images/hero.jpg);
  position: relative;
  background-repeat: no-repeat; }

.mainNav {
  background-color: #fff;
  width: 100%;
  margin: 20px 0; }
  .mainNav ul {
    padding-left: 0; }
  .mainNav li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase; }
    .mainNav li :hover {
      color: #888890; }
    .mainNav li a {
      text-decoration: none;
      padding: 0 10px;
      color: #1a1a26;
      font-size: 14px; }

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
  color: #1d1d29;
  margin-bottom: 5px; }
  .scroll .fa {
    margin: 0 5px; }
    .scroll .fa:hover {
      color: #888890;
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5); }

.mainNavItem {
  width: 40%; }

.mainRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.notification {
  position: absolute;
  top: 0;
  right: 10px; }
  .notification img {
    max-width: 70%; }

.iconsRight li {
  position: relative; }

.mainLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flexHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.title {
  padding: 212px 0;
  padding-bottom: 90px; }

.mainNav .fa {
  padding: 0 10px;
  font-size: 14px; }

header h3 {
  color: #888890;
  font-size: 32px;
  line-height: 60px;
  font-weight: normal;
  text-align: center; }

header h1 {
  color: #1d1d29;
  font-size: 60px;
  text-align: center; }

header button {
  background-color: #f07f84;
  border: none;
  padding: 5px 30px;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto; }

button:hover {
  background-color: #e4565d;
  -webkit-box-shadow: 3px 3px darkgray;
  box-shadow: 3px 3px darkgray; }

.arrowLeft {
  position: absolute;
  left: 20px;
  top: 50%; }

.arrowRight {
  position: absolute;
  right: 20px;
  top: 50%; }

.overInfo {
  padding: 40px 0;
  width: 50%; }
  .overInfo p {
    color: #888890;
    font-size: 14px;
    line-height: 24px; }
    .overInfo p span {
      color: #1a1a26;
      font-weight: bold; }

p.description {
  margin-top: 25px;
  line-height: 26px;
  font-size: 14px;
  margin-bottom: 50px; }

.services, .account, .instagram {
  width: 20%;
  font-size: 12px; }
  .services h4, .account h4, .instagram h4 {
    font-size: 24px;
    color: #1a1a26;
    width: 100%; }

.titleUnderline {
  width: 40px;
  height: 2px;
  background-color: #a8edea;
  margin-top: -10px; }

.services .titleUnderline {
  margin-top: -25px; }

.account .titleUnderline {
  margin-top: -20px; }

.instagram .titleUnderline {
  margin-top: -41px;
  margin-bottom: 30px; }

.servicesList, .accountList {
  padding: 0; }
  .servicesList li, .accountList li {
    list-style: none;
    line-height: 40px; }
    .servicesList li :hover, .accountList li :hover {
      color: #1a1a26;
      border-bottom: 2px solid #1a1a26; }
    .servicesList li a, .accountList li a {
      text-decoration: none;
      color: #888890; }

.services h4 {
  margin-bottom: 32px; }

.instagram h4 {
  margin-bottom: 45px; }

.footerAwesome {
  color: #888890;
  font-size: 25px;
  padding-top: 18px; }
  .footerAwesome .fa {
    margin-right: 10px;
    color: #888890; }

.fa:hover {
  color: #1a1a26; }

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.instagramContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.instagram {
  margin-bottom: 20px; }

.instagramItem {
  width: 32%; }
  .instagramItem img {
    width: 100%; }

.visa {
  margin: 20px 0; }
  .visa img {
    width: 15%;
    margin: 0 2px; }

.postFooter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #888890;
  font-size: 14px; }
  .postFooter span {
    color: #1a1a26; }

.trademark p {
  margin-left: 10px; }

.divider {
  width: 100%;
  height: 1px;
  background-color: #888890;
  margin: 40px 0; }

footer {
  margin-top: 20px; }

.interiorPlants {
  padding: 40px 0;
  position: relative; }
  .interiorPlants h5 {
    font-size: 18px;
    color: #a8edea;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 15px; }
  .interiorPlants h2 {
    text-align: center;
    color: #1e1e2a;
    font-size: 36px;
    margin-top: 5px; }
  .interiorPlants p {
    text-align: center;
    font-size: 14px;
    color: #888890;
    width: 50%;
    margin: 0 auto;
    line-height: 24px; }
  .interiorPlants .signature {
    padding: 20px 0; }
    .interiorPlants .signature span {
      font-size: 16px;
      font-style: bold;
      color: #1e1e2a; }

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.tripleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.plantContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .plantContainer img {
    width: 100%; }

.imageContainer {
  width: 48%;
  position: relative; }

.imageContainer2 {
  width: 100%;
  position: relative; }

.cactusContainer {
  margin-right: 30px;
  position: relative; }

.picInfo {
  text-align: center; }
  .picInfo h4 {
    margin: 0;
    color: #1a1a26;
    font-size: 15px;
    font-weight: normal; }
  .picInfo p {
    margin: 0;
    color: #888890;
    font-size: 13px; }

.airPlants {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px 20px; }
  .airPlants h4:hover {
    color: #24afa9; }

.widePots {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px 20px; }
  .widePots h4:hover {
    color: #24afa9; }

.officePlants, .housePlants {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px 20px; }
  .officePlants h4:hover, .housePlants h4:hover {
    color: #24afa9; }

.plantsBackground {
  background-image: url(../styles/images/h2background.jpg);
  background-repeat: no-repeat;
  background-position: center; }

.products {
  padding: 60px 0; }
  .products h2 {
    font-size: 36px;
    color: #1a1a26;
    text-align: center; }
  .products .popularProducts {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .products li {
    list-style: none;
    margin: 0 35px;
    margin-bottom: 20px; }
    .products li :hover, .products li :focus {
      border-bottom: 2px solid #1a1a26;
      color: #888890; }
  .products a {
    text-decoration: none;
    font-size: 18px;
    color: #1a1a26; }

.productsGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .productsGallery .galleryItem {
    width: 18%; }
  .productsGallery img {
    width: 100%; }
  .productsGallery figcaption {
    font-size: 12px;
    text-align: center;
    margin-top: 10px; }
  .productsGallery .price {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px; }
    .productsGallery .price span {
      margin-left: 20px;
      color: #888890;
      text-decoration: line-through; }

.galleryItem img {
  position: relative;
  vertical-align: bottom; }

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .overlay a {
    padding: 10px 15px;
    background-color: #fff; }
  .overlay a {
    font-size: 14px;
    color: #888890;
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: #fff; }

figure.galleryItem:hover .overlay {
  visibility: visible;
  opacity: 1; }

.overlayImage {
  position: relative; }
  .overlayImage a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase; }

img.hot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15%; }

img.new {
  position: absolute;
  width: 15%;
  top: 25px;
  right: 5px; }

img.new2 {
  position: absolute;
  width: 15%;
  top: 5px;
  right: 5px; }

img.sale {
  position: absolute;
  width: 15%;
  top: 5px;
  right: 5px; }

.customerSaying {
  background-image: url(../styles/images/customerBackground.png);
  width: 50%;
  padding: 40px 80px; }
  .customerSaying h2 {
    font-size: 36px;
    color: #1a1a26;
    text-align: center;
    font-weight: normal;
    margin-bottom: 15px; }
  .customerSaying .pinkQuotes {
    width: 100%; }
    .customerSaying .pinkQuotes img {
      display: block;
      margin: 0 auto; }
  .customerSaying p {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-style: italic;
    color: #1a1a26; }
  .customerSaying .signature {
    font-style: normal;
    color: #888890;
    text-transform: uppercase; }
  .customerSaying .dotContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: 0 auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 20px 0; }
    .customerSaying .dotContainer img {
      width: 10%; }
      .customerSaying .dotContainer img:hover {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4); }
      .customerSaying .dotContainer img .big {
        width: 100%; }

.fullBleed {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.video {
  background-image: url(../styles/images/flowerBackground.jpg);
  width: 50%;
  background-repeat: no-repeat;
  position: relative; }

.play {
  min-width: 100px;
  min-height: 100px;
  background-color: pink;
  background-clip: padding-box;
  border-radius: 50%;
  border: 10px solid rgba(216, 51, 106, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .play:hover {
    background-color: rgba(216, 51, 106, 0.6);
    border: 12px solid rgba(255, 192, 203, 0.7);
    -webkit-transition: 1s all ease-in-out;
    -o-transition: 1s all ease-in-out;
    transition: 1s all ease-in-out; }
    .play:hover img {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: 2s all;
      -o-transition: 2s all;
      transition: 2s all; }
  .play .playButton img {
    margin-left: 40%;
    margin-top: 37%; }

.plantsImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.blog {
  padding: 60px 0; }
  .blog h2 {
    color: #1a1a26;
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px; }

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .container .blogItem {
    width: 30%; }
    .container .blogItem figcaption {
      font-size: 14px;
      color: #888890;
      padding-top: 10px; }
    .container .blogItem h5 {
      color: #1a1a26;
      font-size: 18px;
      margin: 10px 0; }
    .container .blogItem a {
      padding-top: 10px;
      color: #1a1a26;
      text-decoration: none;
      border-bottom: 2px solid #1a1a26; }

.blogItem a:hover {
  color: #888890; }

.newsletter h2 {
  font-size: 36px;
  color: #1a1a26;
  text-align: center; }

.newsletter p {
  text-align: center;
  color: #888890;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 24px; }

.newsletter .email {
  position: relative;
  width: 100%;
  margin: 30px 0; }
  .newsletter .email input {
    width: 60%;
    position: relative;
    left: 20%;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none; }
  .newsletter .email button.envelope {
    position: absolute;
    right: 19.5%;
    border: none;
    background-color: #fff; }
    .newsletter .email button.envelope:hover {
      -webkit-box-shadow: 3px 3px 10px lightgray;
      box-shadow: 3px 3px 10px lightgray; }

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 80px 0; }

.brandsItem {
  min-height: 97px; }
  .brandsItem .lastbrand {
    min-width: 100%; }

header {
  background-image: url(../styles/images/hero.jpg);
  position: relative;
  background-repeat: no-repeat; }

.mainNav {
  background-color: #fff;
  width: 100%;
  margin: 20px 0; }
  .mainNav ul {
    padding-left: 0; }
  .mainNav li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase; }
    .mainNav li :hover {
      color: #888890; }
    .mainNav li a {
      text-decoration: none;
      padding: 0 10px;
      color: #1a1a26;
      font-size: 14px; }

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
  color: #1d1d29;
  margin-bottom: 5px; }
  .scroll .fa {
    margin: 0 5px; }
    .scroll .fa:hover {
      color: #888890;
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5); }

.mainNavItem {
  width: 40%; }

.mainRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.notification {
  position: absolute;
  top: 0;
  right: 10px; }
  .notification img {
    max-width: 70%; }

.iconsRight li {
  position: relative; }

.mainLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flexHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.title {
  padding: 212px 0;
  padding-bottom: 90px; }

.mainNav .fa {
  padding: 0 10px;
  font-size: 14px; }

header h3 {
  color: #888890;
  font-size: 32px;
  line-height: 60px;
  font-weight: normal;
  text-align: center; }

header h1 {
  color: #1d1d29;
  font-size: 60px;
  text-align: center; }

header button {
  background-color: #f07f84;
  border: none;
  padding: 5px 30px;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto; }

button:hover {
  background-color: #e4565d;
  -webkit-box-shadow: 3px 3px darkgray;
  box-shadow: 3px 3px darkgray; }

.arrowLeft {
  position: absolute;
  left: 20px;
  top: 50%; }

.arrowRight {
  position: absolute;
  right: 20px;
  top: 50%; }

.overInfo {
  padding: 40px 0;
  width: 50%; }
  .overInfo p {
    color: #888890;
    font-size: 14px;
    line-height: 24px; }
    .overInfo p span {
      color: #1a1a26;
      font-weight: bold; }

p.description {
  margin-top: 25px;
  line-height: 26px;
  font-size: 14px;
  margin-bottom: 50px; }

.services, .account, .instagram {
  width: 20%;
  font-size: 12px; }
  .services h4, .account h4, .instagram h4 {
    font-size: 24px;
    color: #1a1a26;
    width: 100%; }

.titleUnderline {
  width: 40px;
  height: 2px;
  background-color: #a8edea;
  margin-top: -10px; }

.services .titleUnderline {
  margin-top: -25px; }

.account .titleUnderline {
  margin-top: -20px; }

.instagram .titleUnderline {
  margin-top: -41px;
  margin-bottom: 30px; }

.servicesList, .accountList {
  padding: 0; }
  .servicesList li, .accountList li {
    list-style: none;
    line-height: 40px; }
    .servicesList li :hover, .accountList li :hover {
      color: #1a1a26;
      border-bottom: 2px solid #1a1a26; }
    .servicesList li a, .accountList li a {
      text-decoration: none;
      color: #888890; }

.services h4 {
  margin-bottom: 32px; }

.instagram h4 {
  margin-bottom: 45px; }

.footerAwesome {
  color: #888890;
  font-size: 25px;
  padding-top: 18px; }
  .footerAwesome .fa {
    margin-right: 10px;
    color: #888890; }

.fa:hover {
  color: #1a1a26; }

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.instagramContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.instagram {
  margin-bottom: 20px; }

.instagramItem {
  width: 32%; }
  .instagramItem img {
    width: 100%; }

.visa {
  margin: 20px 0; }
  .visa img {
    width: 15%;
    margin: 0 2px; }

.postFooter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #888890;
  font-size: 14px; }
  .postFooter span {
    color: #1a1a26; }

.trademark p {
  margin-left: 10px; }

.divider {
  width: 100%;
  height: 1px;
  background-color: #888890;
  margin: 40px 0; }

footer {
  margin-top: 20px; }

.interiorPlants {
  padding: 40px 0;
  position: relative; }
  .interiorPlants h5 {
    font-size: 18px;
    color: #a8edea;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 15px; }
  .interiorPlants h2 {
    text-align: center;
    color: #1e1e2a;
    font-size: 36px;
    margin-top: 5px; }
  .interiorPlants p {
    text-align: center;
    font-size: 14px;
    color: #888890;
    width: 50%;
    margin: 0 auto;
    line-height: 24px; }
  .interiorPlants .signature {
    padding: 20px 0; }
    .interiorPlants .signature span {
      font-size: 16px;
      font-style: bold;
      color: #1e1e2a; }

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.tripleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.plantContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .plantContainer img {
    width: 100%; }

.imageContainer {
  width: 48%;
  position: relative; }

.imageContainer2 {
  width: 100%;
  position: relative; }

.cactusContainer {
  margin-right: 30px;
  position: relative; }

.picInfo {
  text-align: center; }
  .picInfo h4 {
    margin: 0;
    color: #1a1a26;
    font-size: 15px;
    font-weight: normal; }
  .picInfo p {
    margin: 0;
    color: #888890;
    font-size: 13px; }

.airPlants {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px 20px; }
  .airPlants h4:hover {
    color: #24afa9; }

.widePots {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px 20px; }
  .widePots h4:hover {
    color: #24afa9; }

.officePlants, .housePlants {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px 20px; }
  .officePlants h4:hover, .housePlants h4:hover {
    color: #24afa9; }

.plantsBackground {
  background-image: url(../styles/images/h2background.jpg);
  background-repeat: no-repeat;
  background-position: center; }

.products {
  padding: 60px 0; }
  .products h2 {
    font-size: 36px;
    color: #1a1a26;
    text-align: center; }
  .products .popularProducts {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .products li {
    list-style: none;
    margin: 0 35px;
    margin-bottom: 20px; }
    .products li :hover, .products li :focus {
      border-bottom: 2px solid #1a1a26;
      color: #888890; }
  .products a {
    text-decoration: none;
    font-size: 18px;
    color: #1a1a26; }

.productsGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .productsGallery .galleryItem {
    width: 18%; }
  .productsGallery img {
    width: 100%; }
  .productsGallery figcaption {
    font-size: 12px;
    text-align: center;
    margin-top: 10px; }
  .productsGallery .price {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px; }
    .productsGallery .price span {
      margin-left: 20px;
      color: #888890;
      text-decoration: line-through; }

.galleryItem img {
  position: relative;
  vertical-align: bottom; }

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .overlay a {
    padding: 10px 15px;
    background-color: #fff; }
  .overlay a {
    font-size: 14px;
    color: #888890;
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: #fff; }

figure.galleryItem:hover .overlay {
  visibility: visible;
  opacity: 1; }

.overlayImage {
  position: relative; }
  .overlayImage a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase; }

img.hot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15%; }

img.new {
  position: absolute;
  width: 15%;
  top: 25px;
  right: 5px; }

img.new2 {
  position: absolute;
  width: 15%;
  top: 5px;
  right: 5px; }

img.sale {
  position: absolute;
  width: 15%;
  top: 5px;
  right: 5px; }

.customerSaying {
  background-image: url(../styles/images/customerBackground.png);
  width: 50%;
  padding: 40px 80px; }
  .customerSaying h2 {
    font-size: 36px;
    color: #1a1a26;
    text-align: center;
    font-weight: normal;
    margin-bottom: 15px; }
  .customerSaying .pinkQuotes {
    width: 100%; }
    .customerSaying .pinkQuotes img {
      display: block;
      margin: 0 auto; }
  .customerSaying p {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-style: italic;
    color: #1a1a26; }
  .customerSaying .signature {
    font-style: normal;
    color: #888890;
    text-transform: uppercase; }
  .customerSaying .dotContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: 0 auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 20px 0; }
    .customerSaying .dotContainer img {
      width: 10%; }
      .customerSaying .dotContainer img:hover {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4); }
      .customerSaying .dotContainer img .big {
        width: 100%; }

.fullBleed {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.video {
  background-image: url(../styles/images/flowerBackground.jpg);
  width: 50%;
  background-repeat: no-repeat;
  position: relative; }

.play {
  min-width: 100px;
  min-height: 100px;
  background-color: pink;
  background-clip: padding-box;
  border-radius: 50%;
  border: 10px solid rgba(216, 51, 106, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .play:hover {
    background-color: rgba(216, 51, 106, 0.6);
    border: 12px solid rgba(255, 192, 203, 0.7);
    -webkit-transition: 1s all ease-in-out;
    -o-transition: 1s all ease-in-out;
    transition: 1s all ease-in-out; }
    .play:hover img {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: 2s all;
      -o-transition: 2s all;
      transition: 2s all; }
  .play .playButton img {
    margin-left: 40%;
    margin-top: 37%; }

.plantsImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.blog {
  padding: 60px 0; }
  .blog h2 {
    color: #1a1a26;
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px; }

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .container .blogItem {
    width: 30%; }
    .container .blogItem figcaption {
      font-size: 14px;
      color: #888890;
      padding-top: 10px; }
    .container .blogItem h5 {
      color: #1a1a26;
      font-size: 18px;
      margin: 10px 0; }
    .container .blogItem a {
      padding-top: 10px;
      color: #1a1a26;
      text-decoration: none;
      border-bottom: 2px solid #1a1a26; }

.blogItem a:hover {
  color: #888890; }

.newsletter h2 {
  font-size: 36px;
  color: #1a1a26;
  text-align: center; }

.newsletter p {
  text-align: center;
  color: #888890;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 24px; }

.newsletter .email {
  position: relative;
  width: 100%;
  margin: 30px 0; }
  .newsletter .email input {
    width: 60%;
    position: relative;
    left: 20%;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none; }
  .newsletter .email button.envelope {
    position: absolute;
    right: 19.5%;
    border: none;
    background-color: #fff; }
    .newsletter .email button.envelope:hover {
      -webkit-box-shadow: 3px 3px 10px lightgray;
      box-shadow: 3px 3px 10px lightgray; }

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 80px 0; }

.brandsItem {
  min-height: 97px; }
  .brandsItem .lastbrand {
    min-width: 100%; }

@media (max-width: 554px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
    .container .blogItem {
      width: 100%;
      text-align: center;
      margin-bottom: 40px; }
  .brands {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center; }
    .brands .brandsItem img.lastBrand {
      min-width: 137px;
      margin-top: 20px; } }

@media (max-width: 611px) {
  .productsGallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center; }
    .productsGallery .galleryItem {
      width: 47%; }
    .productsGallery .lastGalleryItem {
      display: initial; }
  .products li {
    margin: 0 8px; }
    .products li a {
      font-size: 14px; } }

@media (max-width: 705px) {
  .flexHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .mainRight {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .mainNavItemCenter img {
    padding-top: 20px; }
  .interiorPlants p {
    width: 100%; }
  .customerSaying p {
    width: 100%; } }

@media (max-width: 795px) {
  .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footerContainer .overInfo {
      text-align: center; }
      .footerContainer .overInfo h4 {
        font-size: 18px;
        display: block;
        margin: 0 auto;
        width: 50%; }
      .footerContainer .overInfo .titleUnderline {
        margin: 0 auto; }
    .footerContainer .footerAwesome {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .customerSaying h2 {
    font-size: 28px; } }

@media (max-width: 800px) {
  .services, .account, .tradeMark {
    display: none; }
  .wrapper .footerContainer .overInfo {
    width: 100%; } }

@media (max-width: 845px) {
  .galleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .galleryContainer .imageContainer {
      width: 49%; }
  .cactusContainer {
    width: 100%; }
    .cactusContainer img {
      width: 100%; }
  .title h1 {
    font-size: 28px; }
  .title h3 {
    font-size: 24px; } }

@media (max-width: 989px) {
  .fullBleed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .customerSaying .dotContainer {
    display: none; }
  .newsletter h2, .blog h2, .products h2, .interiorPlants h2 {
    font-size: 26px; }
  .postFooter {
    font-size: 10px; }
  .newsletter p {
    width: 100%; }
  .blog {
    padding-bottom: 20px; }
  .email input {
    font-size: 14px; }
  .blogItem h5 {
    font-size: 15px; }
  .video {
    width: 100%; }
  .customerSaying {
    width: 100%; }
  .instagram {
    display: none; }
  .servicesList li, .accountList li {
    line-height: 30px; } }

@media (max-width: 1000px) {
  .mainLeft {
    display: none; }
  .brands {
    display: none; } }

@media (max-width: 1030px) {
  .productsGallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .productsGallery .galleryItem {
      width: 30%; }
    .productsGallery .lastGalleryItem {
      display: none; }
  .postFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    .postFooter .tradeMark p {
      margin-top: 0; }
    .postFooter .trademarkItem p {
      margin-bottom: 0; } }

@media (max-width: 1223px) {
  .galleryItem figcaption {
    font-size: 10px; }
  .galleryItem .price {
    font-size: 10px; } }

@media (max-width: 1378px) {
  .footerContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerContainer .services, .footerContainer .account, .footerContainer .instagram {
      width: 20%; }
      .footerContainer .services h4, .footerContainer .account h4, .footerContainer .instagram h4 {
        font-size: 19px; }
    .footerContainer .overInfo {
      width: 30%; }
    .footerContainer .footerAwesome {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "poppins"; }

.wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto; }

img {
  max-width: 100%; }

h1, h2, h4 {
  font-weight: normal; }

h2.style::after {
  content: '';
  margin: 0 auto;
  display: block;
  width: 120px;
  margin-top: 20px;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#a8edea), color-stop(#a8edea), color-stop(#f5efef), color-stop(#a8edea), to(#a8edea));
  background-image: -webkit-linear-gradient(left, #a8edea, #a8edea, #f5efef, #a8edea, #a8edea);
  background-image: -o-linear-gradient(left, #a8edea, #a8edea, #f5efef, #a8edea, #a8edea);
  background-image: linear-gradient(to right, #a8edea, #a8edea, #f5efef, #a8edea, #a8edea); }
